*.suo
*.filters
*.user
*.log
*.tlog
*.pch
*.obj
*.lastbuildstate
*.txt
*.idb
*.vcxproj
*.dll
*.xml
*.pdb
*.metagen
*.exp
*.lib
*.cache
*.db
*.ipch
*.config
*.manifest
*.settings
**/packages
**/debug
**/release


